
body {
    background-color: #fff;
    margin: 0;
}

body, p {
    xfont-family: Roboto, Helvetica, Arial, sans-serif; /* screws up on non-asci letters */
    font-family: Roboto, Helvetica, Arial;
}

table, th, td, img {
    border: 0px;
}

.clearfix:after, #contents:after {
    clear: both;
    content: "";
    height: 1%;
    line-height: 0;
    visibility: hidden;
}


/*------------------------------ HEADER ------------------------------*/

#header {
    background: linear-gradient(#59981A, #ECF87F);
    border-bottom: 2px solid #ddd;
    color: #fff;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#header .title {
    min-width: 1200px;  /* needed to avoid nasty overlapping lines */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.0;
    font-size: 32px;
    font-weight: bold;
    padding-left: 40px;
    padding-bottom: 5px;
}

#header .body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 22px;
    padding-left: 40px;
    padding-bottom: 0px;
}

#subheader {
    background-color: #3D550C;
    border-bottom: 5px solid #e6e6e6;
    color: #fff;
    height: 30px;
    padding-left: 60px;
    padding-bottom: 20px;
}


/** Navigation **/

#navigation {
    display: inline-block;
    list-style: none;
    line-height: 20px;
    margin: 0;
    padding-top: 10px;
    padding-left: 0px;
}

#navigation ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation li {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    float: left;
    padding-right: 30px;
    text-align: center;
}

#navigation li a {
    color: #eee;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
}

#navigation li a:hover {
    color: #f1c40f;
}


/*------------------------------ CONTENTS ------------------------------*/

#contents {
    min-height: 500px;
    max-width: 880px;
    margin-left: 50px;
    padding: 25px 20px 10px 10px;
}

h1, h2, h3, h4 {
    color: rgb(101,29,35);
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 18px;
}

h3 {
    font-size: 150%;
    font-weight: bold;
    margin: 4 0 14px;
}

h4 {
    font-size: 125%;
    font-weight: bold;
    margin: 0 0 4px;
}

body table td {
    padding: 10px;
}

body table {
    margin-top: 10px;
}

p {
    color: #111111;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 20px;
}

a {
    font-weight: bold;
    color: #39646d;
}

a.paper {
    font-weight: normal;
    color: #39646d;
    text-decoration: None;
}

a:hover { color: #39646d; }
a:visited { color: #39646d; }

table.dates {
    margin-left: 20px;
    border-collapse: collapse;
}

table.dates td {
    padding: 7px;
    border: 1px solid #006699;
    font-size: 14px;
}

table.committee a {
    text-decoration: none;
    font-size: 14px;
}

li {
    color: #111111;
    font-size: 16px;
    line-height: 22px;
}

.left { text-align: left; }
.right { text-align: right; }
.center {
    text-align: center;
    color: #39646d;
    font-weight: bold;
}

.indent { margin-left: 20px; }

.p_name { width: 200px; font-size: 18px; }
.p_affiliation { padding-left: 20px; font-size: 18px; }

.example {
    color: #39646d;
}

.sidebar {
    width: 400px;
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 20px;
}

.sidebar div {
    padding-left: 20px;
    border-left: 3px solid #e6e6e6;
}

.sidebar table {
    margin-left: 20px;
    border-collapse: collapse;
}

.sidebar td {
    padding: 5px;
    border: 1px solid #006699;
    font-size: 12px;
}

.sidebar p {
    padding-left: 20px;
    font-size: 14px;
}

.sidebar h3 {
    margin-top: 15px;
    margin-bottom: 10px;
	font-size: 18px;
}


/*------------------------------ FOOTER ------------------------------*/
body {
    position: relative;
    padding-bottom: 3.5rem;    
    min-height: calc(100vh - 3.5rem);
}

#footer {
    background: #3D550C;
    border-top: 2px solid #ECF87F;
    padding: 6px 0 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
}

#footer > div {
    height: 20px;
    padding: 10px 10px 10px 50px;
}

#footer p {
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #fff;
    font-style: normal;
    padding-left: 10px;
}

#footer p a {
    color: #fff;
    font-weight: bold;
}
