$primary: #d6d4d4;
$secondary: #008080;

@import "../node_modules/bootstrap/scss/bootstrap";

.navbar .navbar-nav .nav-link {
    color: #eee;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    float: left;
    font-size: 20px;
    line-height: 26px;
    padding-right: 30px;
    text-decoration: none;

    &:hover { color: #f1c40f; }
}

.title{
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
}

.carousel-inner img {
    margin: auto;
  }